<!--
  Generated template for the ElearningsubjectsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{pageName}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="loaded">
    <div *ngIf="subjects?.length > 0">
        <h6>Subjects</h6>
        <br>
        <ion-list no-lines>
          <ion-item *ngFor="let subject of subjects" >
              <div class="flex-div">
                  <div class="flex-header" (click)="openTopicsPage(subject)">
                    <button ion-item>
                        <p>{{subject.name}} <span float-right>Topics<ion-icon name="arrow-dropright"></ion-icon></span></p>
                    </button>
                  </div>
                <!--
                  <div *ngIf="subject.topics?.length > 0" class="flex-box">
                      <ion-scroll class="featured-center" style="width:100%; height: 90px" scrollX=true>
                        <div class="inner animated fadeInRight">
                          <div class="ace-of-cards">

                            <div *ngFor="let topic of subject.topics" class="card-box" (click)="openTopicPage(topic)">
                              <div class="card-text">
                               <p>{{topic.name}}</p>
                              </div>
                            </div>

                            </div>
                          </div>
                      </ion-scroll>
                    </div>
                    -->
                </div>
          </ion-item>
        </ion-list>

    </div>
    <div *ngIf="subjects?.length == 0">
      <img src="assets/imgs/error.png" class="img" alt="">
      <h3>Opps no Subjects at this moment!</h3>
    </div>
  </div>

</ion-content>
