page-elearningsubjects {
    .featured-center {
        overflow: scroll;
        white-space: nowrap;
        border: 0px !important;
    }
    .inner {
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        width: 100%;
        height: 100%;
        .card-box {
          display: inline-block;
        }
    }
    .card-box {
        width: 100px !important;
        height: 70px;
        color:#fff;
        border-radius: 10px;
        padding: 5px;
        background-color: #01c22e;
        margin: 5px;
    }
    .flex-header {
        .item-md.item-block .item-inner {
            border-bottom: 0px solid #dedede !important;
        }
    }
    .card-text{
        p{
            text-align: center;
            padding-top: 15px;
            color: #ffffff;
        }
    }
    ion-scroll{
        .scroll-content{
            padding: 5px !important;
        }
    }
    ion-icon{
        padding-left: 5px;
    }
    h3 {
        text-align: center;
      }
      .img{
        display: block;
        margin: 0 auto;
        padding-top: 40px;
        height: 200px;
    }
}
