<ion-header>

  <ion-navbar>
    <ion-title>{{pageName}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="!loggedIn">
    <user-login></user-login>
  </div>
  <div *ngIf="loggedIn">
      <ion-list *ngIf="loaded && subjects?.length>0" class="center-pad">
          <ion-item>
            <ion-label>Select a Subject</ion-label>
            <ion-select [(ngModel)]="selectedSubjectSlug" (ionChange)="onSelectSubject()">
              <ion-option [value]="subject.slug" *ngFor="let subject of subjects">{{subject.name | titlecase}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-list>
        <div padding *ngIf="loaded && subjects?.length == 0">
          <img src="assets/imgs/error.png" class="img" alt="">
          <h3>Opps no subjects at this moment!</h3>
        </div>
        <div *ngIf="hasSelected" class="exam-briefing" padding>
          <h6>{{selectedSubject.name | titlecase}}</h6>
          <p>{{selectedSubject.description}}</p>
          <p><span>Duration : {{selectedSubject.duration}}&nbsp;mins</span> <span float-right>{{selectedSubject.questionsPerSession}} Questions</span></p>
        </div>
        <ion-footer padding>
          <button [disabled]="!hasSelected" ion-button full block (click)="takeExam()">Take Exam</button>
        </ion-footer>
  </div>

</ion-content>
