page-prepexamtaking {
    .center-pad{
        margin: 50% 10px 10px 10px;
        text-align: center;
    }
    h6, ion-label, ion-select, p{
        font-family: 'Poppins', sans-serif;
    }
    h3 {
      text-align: center;
    }
    .img{
      display: block;
      margin: 0 auto;
      padding-top: 40px;
      height: 200px;
    }
}
