<!--
  Generated template for the SchoolDirectoryInfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{school.organization_name | titlecase}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="image">
    <img *ngIf="school.featured_image" defaultImage="assets/imgs/placeholder-square.jpg" [lazyLoad]="school.featured_image" alt="">
    <div *ngIf="!school.featured_image">  
     <div class="no-image"></div>
     <h2>{{school.organization_name | titlecase }}</h2>
    </div>
  </div>
  
  <div padding class="content">
    <h5>Description</h5>
    <hr>
    <p [innerHTML]="school.organization_description"></p>
    
    <br>
    <h5>Details</h5>
    <hr>
    <ul>
      <li *ngIf="school.organization_email">{{school.organization_email}}</li>
      <li *ngIf="school.organization_phone">{{school.organization_phone}}</li>
      <li *ngIf="school.organization_website">{{school.organization_website}}</li>
      <li>{{school.organization_address | titlecase }}, {{school.organization_city | titlecase}} {{school.organization_state | titlecase}}.</li>
    </ul>
  
    <br>
  <map [latitude]="school.coord_lat" [longitude]="school.coord_long"></map>
  </div>
</ion-content>
