page-school-directory-info {
  .image {
    height: 150px;
    object-fit: contain;
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
    .no-image {
      background-image: url("../../assets/imgs/placeholder-square.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      height: 200px;
      filter: blur(4px);
      -webkit-filter: blur(4px);
    }
    h2 {
      text-align: center;
      position: relative;
      margin-top: -125px;
      color: #101010;
    }
    ul > li{
        padding-top: 10px !important;
    }
  }
  div .content{
      margin-top: 30px;
  }
  .scroll-zoom-wrapper{
    border: 0px !important;
  }
  
}
