page-login {
    .forgot{
        color:#01c22e;
        text-align: center;
    }
    .button-md, .button-ios {
        height: 5.0rem;
        background-color : #01c22e;
        color : #fff;
    } 
    .content-md, .content-ios {
        background: #fff;
    }
    p{
        color: #01c22e;
    }
    .item-md, .item-ios {
        background-color: transparent;
        color : #01c22e;
    }
    .img{
        img {
            display: block; 
            margin: 0 auto;
            padding: 30px;
            height: 200px;
        }
    }
    .item-input .label-md, .item-select .label-md, .item-datetime .label-md{
        color : #01c22e;
    }
    .passwordIcon{
        font-size:2rem !important;
        position: relative !important;
        top: 22px !important;
        margin: 0 auto !important;
    }
    ion-footer{
        position: fixed;
    }
    .item-input-has-focus, .label-md[stacked], .input-has-focus .label-md[stacked]{
        color: #01c22e !important;
    }
}
