<ion-header>
  <ion-navbar>
    <ion-title>Log In</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <div padding>
    <div class="img">
        <img  src="assets/imgs/cbtexampro.png" alt="">
    </div>
      <ion-list>
        <form [formGroup]="details" (ngSubmit)="login()">
            <ion-item>
                <ion-label stacked>Email</ion-label>
                <ion-input type="email" formControlName="email" (keyup)="trimValue(this.details.get('email'))"></ion-input>
              </ion-item>
          
              <ion-item>
                <ion-label stacked>Password</ion-label>
                <ion-input [type]="passwordType" formControlName="password"></ion-input>
                <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()' required></ion-icon>
              </ion-item>
              <br>
              <button type="submit" [disabled]="!details.valid" full block ion-button>
                Log In
              </button>
              <p class="forgot" (click)="openForgotPassword()">Forgot your password?</p>
        </form>
        </ion-list>      
  </div>
  
  <ion-footer *ngIf="showFooter">
    <p class="forgot">Don't have an account? <strong (click)="openSignUp()">Sign Up</strong></p>
  </ion-footer>
</ion-content>