page-directory-search {
    
  .flex{
    display: flex;
  }
  .text{
    margin-left: 20px;
    margin-top: 10px;
  }
  .img{
    img{
      height: 90px;
      object-fit: cover;
      border-radius: 5px;
      width: 120px;
    }
  }     
}
 