<!--
  Generated template for the DirectorySearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Search Result</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div>
    <div *ngIf="featuredCenters?.length > 0">
      <h6 padding>Result</h6>

      <!--
            <div class="flex-box">
              <ion-scroll class="featured-center" style="width:100%; height: 200px" scrollX=true>
                <div class="inner animated fadeInUp" padding>
                  <div class="ace-of-cards">
          
                    <div class="card-box" *ngFor="let school of featuredCenters" (click)="openInfoPage(school)">
                      <img *ngIf="school.image" [src]="school.image" />
                      <img *ngIf="!school.image" src="assets/imgs/placeholder-square.jpg" />
                      <div class="card-text">
                        <p>{{school.name}}</p>
                        <p>
                          <ion-icon *ngIf="school.has_verified_badge" name="star"></ion-icon> {{school.vendor_details.organization_city}}, {{school.vendor_details.organization_state}}
                        </p>
                      </div>
                    </div>
          
                    </div>
                  </div>
              </ion-scroll>
            </div>
            -->
      <ion-list>
        <ion-item *ngFor="let school of featuredCenters" (click)="openInfoPage(school)">
          <div class="flex">
            <div class="img">
              <img *ngIf="school.featured_image" defaultImage="assets/imgs/placeholder-square.jpg" [lazyLoad]="school.featured_image" alt="">
              <img *ngIf="!school.featured_image" src="assets/imgs/placeholder-square.jpg" />
            </div>
            <div class="text">
              <p>{{school.organization_name}}</p>
              <p>
                {{school.organization_city}}, {{school. organization_state}}
              </p>
            </div>
          </div>
        </ion-item>
      </ion-list>
      <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>
    <div>
    </div>
  </div>
</ion-content>