<!--
  Generated template for the ElearningtopicPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{pageName}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h6>Topics</h6>
  <br>
  <div *ngIf="topics?.length > 0">
    <ion-list *ngIf="loaded | async">
      <button *ngFor="let topic of topics" (click)="openTopicDescription(topic)" ion-item>
        {{topic.name}}
        <ion-icon name="arrow-dropright" item-end></ion-icon>
      </button>
    </ion-list>
  </div>
  <div *ngIf="topics?.length == 0">
    <img src="assets/imgs/error.png" class="img" alt="">
    <h3>Opps no Topics at this moment!</h3>
  </div>
</ion-content>