<ion-tabs selectedIndex="1" swipeTab (ionChange)="transition($event)" (onTabChange)="onTabChange($event)" #myTabs>
  <ion-tab [root]="rootTwo" tabIcon="person"></ion-tab>
  <ion-tab [root]="rootOne" tabIcon="home"></ion-tab>
  <ion-tab [root]="rootThree" tabIcon="paper"></ion-tab>
</ion-tabs>