page-tabs {
    .swipe-area {
        height:100%;
        width:100%;
    }
    .tabs-md .tabbar, .tabs-ios .tabbar{
        background: #000;
    }
    .tabs-md .tab-button-icon, .tabs-ios .tab-button-icon {
        color : #fff;
    }
}
