<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>E-Learning</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-grid *ngIf="loaded | async" class="parallax">
    <ion-row class="animated fadeInUp">
      <ion-col *ngFor="let category of categories; let i = index;" col-6>
        <div *ngIf="(categories?.length - 1 != i)">
          <ion-card (click)="openSubjects(category)">
            <ion-card-content>
              <p>{{category.name | uppercase }}</p>
              <p class="center line"></p>
            </ion-card-content>
          </ion-card>
        </div>
        <div *ngIf="(categories?.length - 1 == i) &&  (i + 1) % 2 != 0" style="width: calc(100% * 2) !important;">
          <ion-card (click)="openSubjects(category)">
            <ion-card-content>
              <p>{{category.name | uppercase }}</p>
              <p class="center line"></p>
            </ion-card-content>
          </ion-card>
        </div>
        <div *ngIf="(categories?.length - 1 == i) &&  (i + 1) % 2 == 0">
            <ion-card (click)="openSubjects(category)">
              <ion-card-content>
                <p>{{category.name | uppercase }}</p>
                <p class="center line"></p>
              </ion-card-content>
            </ion-card>
          </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>