<!--
  Generated template for the TutorSearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Search Result</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <div>
        <div *ngIf="searchedTutor?.length > 0">
          <h6 padding>Result</h6>
    
          <!--
                <div class="flex-box">
                  <ion-scroll class="featured-center" style="width:100%; height: 200px" scrollX=true>
                    <div class="inner animated fadeInUp" padding>
                      <div class="ace-of-cards">
              
                        <div class="card-box" *ngFor="let school of featuredCenters" (click)="openInfoPage(school)">
                          <img *ngIf="school.image" [src]="school.image" />
                          <img *ngIf="!school.image" src="assets/imgs/placeholder-square.jpg" />
                          <div class="card-text">
                            <p>{{school.name}}</p>
                            <p>
                              <ion-icon *ngIf="school.has_verified_badge" name="star"></ion-icon> {{school.vendor_details.organization_city}}, {{school.vendor_details.organization_state}}
                            </p>
                          </div>
                        </div>
              
                        </div>
                      </div>
                  </ion-scroll>
                </div>
                -->
                <ion-list>
                    <ion-item *ngFor="let tutor of searchedTutor" (click)="openProfile(tutor)">
                      <div class="flex">
                        <div class="img">
                          <img *ngIf="tutor.tutor.image" defaultImage="assets/imgs/placeholder-square.jpg" [lazyLoad]="tutor.tutor.image" alt="">
                          <img *ngIf="!tutor.tutor.image" src="assets/imgs/placeholder-square.jpg" />
                        </div>
                        <div class="text">
                          <p>{{tutor.tutor.name | titlecase}}</p>
                          <p>
                            <ion-icon *ngIf="tutor.tutor.has_verified_badge == 1" name="star"></ion-icon>
                            {{tutor.city | titlecase}}, {{tutor.state | titlecase}}
                          </p>
                        </div>
                      </div>
                    </ion-item>
                  </ion-list>
          <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
            <ion-infinite-scroll-content></ion-infinite-scroll-content>
          </ion-infinite-scroll>
        </div>
        <div>
        </div>
      </div>
</ion-content>
