<!--
  Generated template for the EditprofilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Edit Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list class="center-form">
    <div class="img">
      <ion-row>
        <ion-col col-4>
          <img [src]="picture_url ? picture_url : 'assets/imgs/profile-pic.jpg'" class="profile-pic" alt="">
        </ion-col>
        <ion-col col-6>
          <button class="choose_btn" (click)="chooseImage()" float-left outline ion-button round small>Choose Picture</button>
        </ion-col>
      </ion-row>
    </div>
    <form #editForm="ngForm" novalidate autocomplete="0ff" (submit)="editProfile()">
      <ion-item>
        <ion-label stacked>Fullname</ion-label>
        <ion-input [(ngModel)]="user.name" name="name" #name="ngModel" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Email</ion-label>
        <ion-input [(ngModel)]="user.email" name="email" #email="ngModel" type="email" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"></ion-input>
        <div [hidden]="email?.valid || email?.untouched">
          <br>
          <div class="alert alert-danger" role="alert" *ngIf="email?.errors && email?.errors.pattern">
            Email is Invalid!
          </div>
        </div>
      </ion-item>
      <ion-item>
        <ion-label stacked>PhoneNumber</ion-label>
        <ion-input type="text" [(ngModel)]="user.phone" #phone="ngModel" required name="phone"></ion-input>
      </ion-item>
      <br>
      <h6 class="text-muted">Account Information</h6>
      <ion-item>
        <ion-label stacked>
          Bank Name
        </ion-label>
        <ion-select [(ngModel)]="user.bank_name" #bankname="ngModel" name="bankname">
          <ion-option *ngFor="let bank of banks" [value]="bank.name">{{bank.name}}</ion-option>
        </ion-select>  
      </ion-item>


      <ion-item>
        <ion-label stacked>Account Name</ion-label>
        <ion-input type="text" [(ngModel)]="user.account_name" #accountname="ngModel" name="accountname" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Account Number</ion-label>
        <ion-input type="number" [(ngModel)]="user.account_number" #accountnumber="ngModel" name="accountnumber" ></ion-input>
      </ion-item>
      
      <button type="submit" full block ion-button>
        Update
      </button>
    </form>
  </ion-list>
</ion-content>
