<!-- Generated template for the UserLoginComponent component -->
<div class="center-div">
  <img src="assets/icon/accessdenied.png" class="img-center" alt="">
  <p text-center>You need an account to view this page</p>
  <ion-row>
    <ion-col>
      <button ion-button  small float-right round (click)="login()">Log In</button>
    </ion-col>
    <ion-col>
      <button ion-button small  round (click)="signup()">Sign Up</button>
    </ion-col>
  </ion-row>
</div>
