<!--
  Generated template for the QuizPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{examName | titlecase}}</ion-title>
    <ion-buttons class="timer" end>
        <button ion-button class="calc" (click)="openCalc()">
            <ion-icon name="calculator"></ion-icon>
        </button>
      <h6>{{time}}</h6>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-list no-lines class="questions" [approxItemHeight]="'350px'" [virtualTrackBy]="identify" [virtualScroll]="questions">
      <ion-card *virtualItem="let question; let i = index;">
        <ion-card-content>
          <h3><strong>Question&nbsp;&nbsp;{{(i+1) +'/'+questions?.length}}</strong></h3>
          <br>
          <p class="question" [innerHTML]="question.question">
          </p>
          <div class="answer">
            <ion-list  radio-group>
              <ion-item *ngFor="let option of question.options; let j = index;">
                <ion-label >{{j+1}})&nbsp;<span [innerHTML]="option.option"></span></ion-label>
                <ion-radio mode="md" (ionSelect)="addToSelected(question.id, option.id)" [checked]="selectedQuestion[i].answerId == option.id" [value]="option.id"></ion-radio>
              </ion-item>
            </ion-list>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-list>
</ion-content>
<ion-footer padding>
    <button (click)="submit()" ion-button full block>
      Submit
    </button>
  </ion-footer>
