page-quiz {
    .timer {
        padding-right: 5px;
        display: flex;
        h6{
            font-weight: 600;
            color : #fff;
        }
    }
    .calc{
        ion-icon{
            font-size: 2.6rem !important;
        }
        padding-right: 5px;
    }
    .bar-button-md:first-child {
        margin-left: 0;
        padding-right: 10px;
        padding-top: 10px;
    }
    .content-ios, .content-md {
        background-color: #F1F3FF;
    }
    .button-md {
        height: 5.0rem;
    }
    .questions{
        height: 100%;
        overflow-y: scroll;
        padding-bottom: 50px;
    }
    .card-md, .card-ios{
        margin: 20px 0px;
    }
    .card-md p{
        font-weight: 600;
        font-size: 15px;
    }
    ion-label{
        white-space: normal;
        font-size: 13px;
    }
    ion-footer, .footer-md, .footer-ios{
        position: fixed !important;
    }
}
