page-blog {
    .foreground {
        background : #01C22E;
        height: 200px;
        width: 100%;
        border-bottom-left-radius: 30%;
    }
    .blog-list{
        margin-top: -100px;
    }
    .text-center{
        padding-top : 30px;
        text-align: center;
    }
    .text-light {
        color : #fff;
    }
    ion-card img {
        height: 120px;
        object-fit: cover;
    }
    .card-md, .card-ios {
        border-radius: 5px;
    }
    .card-title-md, .card-title-ios {
        font-size : 1.5rem;
        font-weight: 600;
    }
    .card-md p, .card-ios p {
        color: grey;
    }
    ion-spinner{
        width: 70px;
        height: 70px;
        margin: 0 auto;
        display: block;
        margin-top: 15px;
    }
    ion-spinner * {
        stroke: #01C22E !important;
    }
}
