<!--
  Generated template for the BlogPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="foreground">
    <div class="text-center">
      <h2 class="text-light">News and Resources</h2>
    </div>
  </div>
  <ion-spinner *ngIf="!loaded"></ion-spinner>

  <ion-list *ngIf="loaded | async " class="blog-list animated fadeInUp" padding>
    <ion-card *ngFor="let content of data" (click)="openblog(content)">
      <img [src]="content.image">

      <ion-card-content> 
        <ion-card-title>{{content.title | titlecase}}</ion-card-title>
        <!--
        <p>The content for this card, The content for this card</p>
        -->
        <p float-right>{{content.created_at | timesago }}</p>
      </ion-card-content>
    </ion-card>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="onScroll($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll> 
</ion-content>