page-profile {
  .bg-green {
    background-color: #01c22e;
    height: 200px;
    width: 100%;
    border-bottom-right-radius: 30%;
  }
  h4 {
    color: #fff;
    text-align: center;
  }
  .bar-button-md,
  .bar-button-ios {
    padding: 0 16px;
    font-size: 1.8rem;
  }
  .spinner-margin {
    margin-top: 10%;
  }
  ion-spinner {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    display: block;
    margin-top: 15px;
  }
  .profile-pic-big {
    margin-top: 10px;
    height: 110px;
    width: 110px;
    object-fit: cover;
    border-radius: 50%;
  }
  ion-spinner * {
    stroke: #01c22e !important;
  }
  .center{
      img, button{
          display: block;
          margin: 0 auto;
      }
  }
  .img{
      height: 60px;
  }
  .img-book {
    height: 150px;
    margin: 5px;
    width: 100px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.25),
      1px 10px 10px rgba(0, 0, 0, 0.22);
  }
  .book-text {
    margin: 0 auto;
    display: block;
    padding-left: 20px;
    h3 {
      padding-top: 30px;
      font-size: 2rem;
      white-space: pre-wrap;
    }
    button {
      margin-top: 20px;
    }
  }
  .books {
    max-width: 100%;
    min-height: 100%;
  }
  .content-ios,
  .content-md {
    background-color: #f5f6fa;
  }
  .item-md,
  .item-ios {
    background-color: transparent;
  }
}
