<!--
  Generated template for the MakePaymentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Payment</ion-title>
  </ion-navbar>
 
</ion-header>


<ion-content padding>
  <div *ngIf="!loaded" class="spinner-margin">
    <ion-spinner></ion-spinner>
  </div>
  <div *ngIf="loaded | async">
    <div *ngIf="!showcardInput">
      <p>
        You are about initiate a transaction with the sum of
      </p>
      <br>
      <h6>{{price | currency:'NGN'}}</h6>
    </div>

    <div *ngIf="showcardInput">
      <p>Input amount you want to credit</p>
      <br>
      
      <ion-input [(ngModel)]="price" ></ion-input>
      <h3 text-center><strong>{{price | currency:'NGN'}}</strong></h3>
    </div>
    <ion-footer *ngIf="!showcardInput" padding>
      <button *ngIf="payfromwallet" (click)="deductFromWallet()" ion-button full block>Pay from Wallet</button>
      <button *ngIf="!payfromwallet" (click)="payWithPaystack()" ion-button full block>Pay With Card</button>
    </ion-footer>
    <ion-footer padding *ngIf="showcardInput">
      <button [disabled] = "price == undefined" (click)="topUpWalletWithPaystack()" ion-button full block>Top-up Wallet</button>
    </ion-footer>
  </div>

</ion-content>