page-make-payment {
    ion-input{
        width: 100%;
        border: 1px solid #01c22e;
        border-radius: 15px;
        padding-left: 10px;
        
    }
    .spinner-margin {
        margin-top: 40%;
      }
      ion-spinner {
        width: 70px;
        height: 70px;
        margin: 0 auto;
        display: block;
        margin-top: 15px;
      }
      ion-spinner * {
        stroke: #01c22e !important;
      }
}
