<!--
  Generated template for the PrepCenterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>
<ion-content no-bounce>
  <div class="foreground">
    <div class="t-center">
      <img class="animated bounceIn" src="assets/imgs/cbt-exam-white.png" alt="">
    </div>
  </div>
  <ion-grid class="parallax" padding>
    <ion-row class="animated fadeInUp">
      <ion-col>
        <div>
          <ion-card (click)="openPrepPage()">
            <ion-card-content>
              <ion-card-title>
                <img class="center img" src="assets/icon/CBT/prep_exam.svg" alt="">
              </ion-card-title>
              <p class="center line"></p>
              <p>Prep Exam Center</p>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-card (click)="openQuizPage()">
            <ion-card-content>
              <ion-card-title>
                <img class="center img" src="assets/icon/CBT/quiz4cash.svg" alt="">
              </ion-card-title>
              <p class="center line"></p>
              <p>Quiz4Cash</p>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row class="animated fadeInUp">
      <ion-col>
        <div>
          <ion-card (click)="openLeaderboard()">
            <ion-card-content>
                <ion-card-title>
                    <img class="center img" src="assets/icon/CBT/leaderboard.svg" alt="">
                  </ion-card-title>
                  <p class="center line"></p>
                  <p>Leaderboard</p>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-card (click)="openSchoolDirectory()">
            <ion-card-content>
                <ion-card-title>
                    <img class="center img" src="assets/icon/CBT/school.svg" alt="">
                  </ion-card-title>
                  <p class="center line"></p>
                  <p>Training Centers</p>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
      <ion-row class="animated fadeInUp">
        <ion-col>
          <div>
            <ion-card (click)="openTutorsPage()">
              <ion-card-content>
                  <ion-card-title>
                      <img class="center img" src="assets/icon/CBT/find tutors.svg" alt="">
                    </ion-card-title>
                    <p class="center line"></p>
                    <p>Find Tutors</p>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-card (click)="openWalletPage()">
              <ion-card-content>
                  <ion-card-title>
                      <img class="center img" src="assets/icon/CBT/wallet.svg" alt="">
                    </ion-card-title>
                    <p class="center line"></p>
                    <p>Wallet</p>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
