page-home {
    .col, .grid {
        padding: 0 !important;
    }
    .img {
        height: 80px;
    }
    .line{
        border-bottom: 1px solid #01C22E;
        width: 30px;
        margin-top: 10px !important;
        margin-bottom: 10px !important;
        text-align: center;
    }
    ion-card-content > p{
        text-align: center;
    }
    .card-ios, .card-md {
        box-shadow: 0 1px 0.5px 2px rgba(0, 0, 0, 0.1);
    } 
    .content-ios, .content-md {
        background-color: #F1F3FF;
    }
    .foreground{
        height: 250px;
        width: 100%;
        background: #01C22E;
    }
    .parallax {
        margin-top: -100px;
    }
    .text-light {
        color : #fff;
    }
    .t-center {
        text-align: center;
        padding-top : 10px; 
        display: block;
        margin: 0 auto;
        img{
            height: 100px;
        }
    }
}
 