<!--
  Generated template for the HelpPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Help</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <button (click)="openAbout()" ion-item>
      About Us
    </button>
    <button ion-item>
      Privacy Policy
    </button>
    <button (click)="openContact()" ion-item>
      Contact Us
    </button>
  </ion-list>
</ion-content>