<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Find Tutors</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-searchbar placeholder="Input search query" [(ngModel)]="query" class="el-search"></ion-searchbar>
  <div text-center class="center">
    <button [disabled]="query == undefined || null" (click)="search()" ion-button round>Search</button>
  </div>
  <br>
  <br>
  <div *ngIf="loaded | async">
    <div *ngIf="featured?.length >= 1">
        <h6 padding>Featured Tutors</h6>
        <ion-list>
            <ion-item *ngFor="let tutor of featured" (click)="openProfile(tutor)">
              <div class="flex">
                <div class="img">
                  <img *ngIf="tutor.tutor.image" defaultImage="assets/imgs/placeholder-square.jpg" [lazyLoad]="tutor.tutor.image">
                  <img *ngIf="!tutor.tutor.image" src="assets/imgs/placeholder-square.jpg" />
                </div>
                <div class="text">
                  <p>{{tutor.tutor.name | titlecase}}</p>
                  <p>
                    <ion-icon *ngIf="tutor.tutor.has_verified_badge == 1" name="star"></ion-icon>
                    {{tutor.city | titlecase}}, {{tutor.state | titlecase}}
                  </p>
                </div>
              </div>
            </ion-item>
          </ion-list>
    </div>
  </div>
</ion-content>
