page-tutordirectory {
  .chips-box {
    height: 80px;
    padding: 10px;
  }
  .item-md {
    background-color: transparent;
    font-size: 1.4rem;
  }
  .subjects {
    word-wrap: break-word;
    white-space: initial;
  }
  .scroll-bar-indicator {
    display: none;
  }
  .content-ios,
  .content-md {
    background-color: #f5f6fa;
  }
  h6 {
    color: grey;
    margin-bottom: 0rem;
    margin-top: 0rem;
  }
  .card-box > img {
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    height: 80px;
    width: 80px;
    object-fit: cover;
  }
  .featured-center {
    overflow: scroll;
    white-space: nowrap;
  }
  .card-box {
    width: 150px !important;
    padding: 5px;
  }
  .card-boxes {
    height: 150px;
  }
  .inner {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100%;
    height: 100%;
    .card-box {
      display: inline-block;
    }
  }
  .scroll {
    min-width: 100%;
  }
  .card-text {
    color: grey;
    text-align: center;
    ion-icon {
      color: #ffd700;
      padding-right: 5px;
    }
  }
  .searchbar-md .searchbar-input {
    border-radius: 12px;
  }

  .el-search {
    height: 70px;
    margin-top: 15%;
  }
  .flex {
    display: flex;
  }
  .text {
    margin-left: 20px;
    margin-top: 10px;
  }
  .img {
    img {
      height: 90px;
      object-fit: cover;
      border-radius: 5px;
      width: 120px;
    }
  }
}
