<!--
  Generated template for the BloginfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
  </ion-navbar>

</ion-header>
<ion-content>
  <div class="post-image animated fadeIn">
    <img [src]="content.image" alt="">
  </div>
  <div class="post-text animated fadeInUp" padding>
    <h6>{{content.title | titlecase}}</h6>
    <p [innerHTML]="content.content"></p>

    </div>

</ion-content>