<!--
  Generated template for the TutorsProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{tutor.tutor.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div *ngIf="tutor.tutor.image" class="backgroundImage" [ngStyle]="{'background-image' : 'url(' + tutor.tutor.image + ')'}">
  </div>
  <div *ngIf="!tutor.tutor.image" class="noBackgroundImage">
  </div>
  <div class="profile">
    <img *ngIf="tutor.tutor.image" defaultImage="assets/imgs/placeholder-square.jpg" [lazyLoad]="tutor.tutor.image" alt="">
    <img src="assets/imgs/profile-pic.jpg" *ngIf="!tutor.tutor.image" alt="">
  </div>
  <div class="content" padding>
    <div class="name">
      <h2>{{tutor.tutor.name | titlecase}} <ion-icon *ngIf="tutor.tutor.has_verified_badge" name="star"></ion-icon>
      </h2>
      <p text-center>{{tutor.bio}}</p>
    </div>

    <h5>Tutor Details</h5>
    <hr>
    <ul>
      <li>{{tutor.tutor.email}}</li>
      <li>{{tutor.tutor.phone}}</li>
      <li>{{tutor.address | titlecase}},  {{tutor.city | titlecase}}, {{tutor.state | titlecase}}</li>
    </ul>
    <br>
    <h5>Tutor Specialization</h5>
    <hr>
    <ul>
      <li>{{tutor.certification + ', ' + tutor.specialization}}</li>
      <li>Teaches : {{tutor.subjects | titlecase}}</li>
    </ul>
  </div>

</ion-content>
