page-tutors-profile {
  .backgroundImage {
    height: 150px;
    object-fit: cover;
    background-size: cover;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
  }
  .noBackgroundImage {
    background-image: url('../../assets/imgs/placeholder-square.jpg');
    height: 150px;
    object-fit: cover;
    background-size: cover;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
  }
  .profile {
    height: 130px;
    position: relative;
    margin-top: -120px;
    img {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
      border-radius: 50%;
      display: block;
      margin: 0 auto;
      height: 75px;
      width: 75px;
      object-fit: cover;
    }
  }
  .content {
    position: relative;
  }
  .name {
    h2 {
      text-align: center;
      font-family: "Poppins", sans-serif;
      font-size: 18px;
    }
    ion-icon {
      color: #ffd700;
      padding-right: 5px;
    }
  }
}
