<!--
  Generated template for the AboutUsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>About Us</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <p> <strong>CBT Exam Pro</strong> is a virtual platform for computer based tests and examinations. We are focused on certification exam preparations for Students, corporate bodies and professionals. The preparation we offer you include;
      E-Learning: Users can learn online using files (documents and videos) uploaded by us or their chosen tutors on the platform.
      Mock Examinations: Users can take preparatory examinations under the timed conditions of the actual exams.
      We also offer users (called Vendors) a platform to set up and moderate examinations for schools students, application examinations, professional examinations etc. These vendors can also come in form of scholarship bodies, offering prizes in return for certain exams, this in addition to the innate scholarship system of the platform.</p>
</ion-content>
