.toolbar-ios,
.toolbar-md {
  min-height: 80px;
}
::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none !important;
}
ion-modal {
  ion-backdrop {
    visibility: visible;
  }
  .modal-wrapper {
    width: 86%;
    height: 86%;
    margin: 7%;
    position: absolute;
    overflow: hidden;
  }
}
.searchbar-ios{
  background: none !important;
  border-top: none !important;
  border-bottom: none !important;
}
ion-app {
  font-family: "Poppins", sans-serif !important;
}
ion-app.ios [padding] {
  padding: 10px;
}
.center {
  margin: 0 auto !important;
  display: block !important;
}

.toolbar-background-ios,
.toolbar-background-md {
  background: #01c22e;
}
.bar-button-default-ios,
.bar-button-default.bar-button-md-default,
.bar-button-clear-md-default,
.bar-button-default-md,
.bar-button-default.bar-button-md-default,
.bar-button-clear-md-default {
  color: #fff;
}
.toolbar-title-ios,
.toolbar-title-md {
  color: #fff;
}
.header-ios .toolbar-background-ios,
.footer-ios .toolbar-background-ios,
.header-md .toolbar-background-md,
.footer-md .toolbar-background-md {
  border-style: none;
}
.menu-icon {
  margin-right: 20px;
}
.menu-link {
  margin: 0px 0px;
}
.footer-bg{
  background-color: #01c22e;
  h5{
    color: #fff !important;
  }
}

.menu-icon > ion-icon {
  font-size: 20px;
  color: #01c22e;
}
.menu-text {
  font-size: 18px;
}
.tabs-md .tabbar,
.tabs-ios .tabbar {
  background: #fff;
}
.header-md::after,
.header-ios::after {
  background: none !important;
  display: none !important;
}
.header-md::before,
.header-ios::before {
  background: none !important;
}
.profile-div {
  height: 150px;
  width: 100%;
  padding-top: 20px;
  display: flex;
  padding: 10px;
  background: #01c22e;
}
.profile-pic {
  margin-top: 25px;
  height: 60px;
  width: 60px;
  object-fit: cover;
  border-radius: 50%;
}
.profile-text {
  margin-top:40px;
  padding-left: 10px;
  color: #fff;
  font-size: 16px;
}
.profile-money{
    font-size: 16px;
}
