<ion-menu [content]="content">
  <ion-header>
    <div class="profile-div">
      <img *ngIf="image == null" src="assets/imgs/profile-pic.jpg" class="profile-pic" alt="">
      <img *ngIf="image != null" [src]="image" class="profile-pic" alt="">
      <div>
        <h6 class="profile-text" *ngIf="loggedIn">{{name | titlecase}}</h6>
        <h6 class="profile-text" *ngIf="!loggedIn">Guest</h6>
        <p style="margin-top: 0px; font-size: 16px;" class="profile-text profile-money" *ngIf="loggedIn">{{wallet |
          currency:'NGN'}}</p>
      </div>

    </div>
  </ion-header>
  <ion-content>
    <ion-list no-lines>
      <button menuClose ion-item *ngFor="let p of pages" class="menu-link" (click)="openPage(p)">
        <span class="menu-icon">
          <ion-icon [name]="p.icon"></ion-icon>
        </span><span class="menu-text">{{p.title}}</span>
      </button>
      <button *ngIf="loggedIn" ion-item (click)="openSupport()">
        <span class="menu-icon">
          <ion-icon name="construct"></ion-icon>
        </span><span class="menu-text">Support</span>
      </button>
    </ion-list>
  </ion-content>
  <ion-footer *ngIf="loggedIn" class="footer-bg">
    <button menuClose ion-item class="footer-bg" (click)="logOut()">
      <h5 text-center>LogOut</h5>
    </button>
  </ion-footer>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>