<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Prep Exam Center</ion-title>
  </ion-navbar>

</ion-header>
<ion-content>
  <ion-grid *ngIf="loaded | async" class="parallax" padding>
    <ion-row class="animated fadeInUp">
      <ion-col *ngFor="let entry of categories | keys; let i = index;" col-6>
        <div *ngIf="(KeyLength - 1 !== i)">
          <ion-card (click)="openCategories(entry.value)">
            <ion-card-content>
              <p>{{entry.value | uppercase }}</p>
              <p class="center line"></p>
            </ion-card-content>
          </ion-card>
        </div>
        <div *ngIf="(KeyLength - 1 == i) &&  (i + 1) % 2 != 0" style="width: calc(100% * 2) !important;">
          <ion-card (click)="openCategories(entry.value)">
            <ion-card-content>
              <p>{{entry.value | uppercase }}</p>
              <p class="center line"></p>
            </ion-card-content>
          </ion-card>
        </div>
        <div *ngIf="(KeyLength - 1 == i) &&  (i + 1) % 2 == 0">
            <ion-card (click)="openCategories(entry.value)">
              <ion-card-content>
                <p>{{entry.value | uppercase }}</p>
                <p class="center line"></p>
              </ion-card-content>
            </ion-card>
          </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>