page-welcome {
    .img-icon  {
        img {
            display: block;
            margin: 0 auto;
            height: 300px;
            padding: 50px;
        }
    }
    h3{
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
    }
    p {
        font-size: 16px;
        color : grey;
        padding: 10px;
    }
    .swiper-pagination {
        padding: 3px;
        bottom:0px;
        .swiper-pagination-bullet {
          background: #01C22E;;
          margin: 0 3px;
        }
    }
    .skipNext{
        color: grey;
        font-size: 16px;
    }
}
