
<ion-header padding>
  <h3 class="skipNext"><span (click)="gotoHomePage()" *ngIf="showSkip">Skip</span> </h3>
</ion-header>
<ion-content>
  <ion-slides (ionSlideDidChange)="slideChanged()" pager>

    <ion-slide>
      <div class="img-icon">
        <img src="assets/icon/Welcome/study.png" alt="">
        <h3>Study for your exams</h3>
        <p>
            With CBT Exam Pro, studying for your exams has become easier.
        </p>
      </div>
    </ion-slide>
  
    <ion-slide>
      <div class="img-icon">
        <img src="assets/icon/Welcome/test.png" alt="">
      </div>
      <h3>Test your knowledge</h3>
      <p>
          Compete in our Scholarship exams, to test your knowledge.
      </p>
    </ion-slide>
  
    <ion-slide>
      <div class="img-icon">
        <img src="assets/icon/Welcome/findschool.png" alt="">
      </div>
      <h3>Find tutors and tutor centers</h3>
      <p>
          Find Schools and Tutors close to your area. 
      </p>     
      <div padding>
        <button padding ion-button full (click)="gotoHomePage()">Get Started</button>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
