page-contact-us {
    p {
    text-align: justify;        
    }
    .flex{
        display: flex;
        .imgs{
            display: block;
            margin: 0 auto;
            padding: 20px;
            img{
                height: 50px;
            }
        }
    }
}
