<!--
  Generated template for the ContactUsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>contact Us</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <p>
      If you have any questions about this Privacy Policy,<br>
      please contact us: 
      By email: <strong>info@cbtexampro.ng</strong>  
      <br>
      <strong>Contact us</strong> 
      <br>
      Office Address<br>
      256, Muritala Muhammed Way, <br>
      Alagomeji Yaba, <br>
      Lagos Nigeria.<br>
      Direct Line: <strong>234-818-0094-315</strong> <br>

      Enquiry Email : <strong>info@cbtexampro.ng</strong>  
  </p>
  <div class="flex">
    <a href="http://www.facebook.com/CBTExamPro" class="imgs">
      <img src="assets/imgs/facebook.png" alt="">
    </a>
    <a href="http://www.twitter.com/CbtExamPro" class="imgs">
      <img src="assets/imgs/twitter.png" alt="">
    </a>
    <a href="http://www.instagram.com/cbtexampro" class="imgs">
      <img src="assets/imgs/insta.png" alt="">
    </a>
  </div>
</ion-content>
