page-quizresult {
    .content-ios, .content-md {
        background-color: #F1F3FF;
    }
    .button-md {
        height: 5.0rem;
    }
    .questions{
        height: 100%;
        overflow-y: scroll;
        padding-bottom: 50px;
    }
    .questions{
        height: 100%;
        overflow-y: scroll;
        padding-bottom: 50px;
    }
    .card-md, .card-ios{
        margin: 20px 0px;
    }
    .card-md p{
        font-weight: 600;
        font-size: 15px;
    }
}
