<!--
  Generated template for the QuizresultPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>Result</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h4>Score : {{result.correctCount}} / {{result.total}}</h4>
  <h4>Total Percentage : {{result.percentageScore+'%'}} </h4>
  <br>
  <ion-list no-lines class="questions" [approxItemHeight]="'350px'" [virtualScroll]="result.questions">
      <ion-card *virtualItem="let question; let i = index;">
          <ion-card-content>
            <h3><strong>Question&nbsp;&nbsp;{{(i+1) +'/'+result.questions?.length}}</strong> <span float-right><ion-icon *ngIf="question.correct == 'yes'" style="color:#01c22e; padding-right: 10px"name="checkmark"></ion-icon><ion-icon *ngIf="question.correct == 'no'" style="color:#ff0000; padding-right: 10px"name="close"></ion-icon></span></h3>
            <br>
            <p class="question" [innerHTML] = "question.question">
            </p>
            <br>
            <div class="answer">
              <h3 *ngIf="question.correct == 'no'" style="color:#FF0000;" [innerHTML]="question.chosen"></h3>
              <h3 *ngIf="question.correct == 'yes'" style="color:#01c22e;" [innerHTML]="question.chosen"></h3>
              <br>
              <h3  style="color:#01c22e;" [innerHTML]="question.answer"></h3>
              <br>
              <h3><strong>Explanation</strong></h3>
              <p [innerHTML] = "question.explanation">
              </p>
            </div>
          </ion-card-content>
        </ion-card>
  </ion-list>
    
</ion-content>
<ion-footer padding>
  <button ion-button block full (click)="shareResult()">Share Result <ion-icon name="share"></ion-icon></button>
</ion-footer>