<!--
  Generated template for the LeaderboardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Leaderboard</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="!loggedIn">
    <user-login></user-login>
  </div>
  <div *ngIf="loggedIn">
    <div *ngIf="loaded | async">
      <!--
      <div padding>
        <h6>Filter <ion-icon name="arrow-dropdown" (click)="toggle == false? toggle = true : toggle = false" float-right></ion-icon>
        </h6>
        <div *ngIf="toggle">

          <ion-grid>
            <ion-row>
              <ion-col col-4>
                <span class="filter">
                  <ion-label>Time</ion-label>
                  <ion-select [(ngModel)]="time">
                    <ion-option value="daily">Daily</ion-option>
                    <ion-option value="n64">Weekly</ion-option>
                    <ion-option value="ps">Monthly</ion-option>
                    <ion-option value="ps">Yearly</ion-option>
                  </ion-select>
                </span>

              </ion-col>
              <ion-col col-4>
                <span class="filter">
                  <ion-label>Subject</ion-label>
                  <ion-select [(ngModel)]="subject">
                    <ion-option value="daily">Maths</ion-option>
                    <ion-option value="n64">English</ion-option>
                    <ion-option value="ps">Chemistry</ion-option>
                    <ion-option value="ps">Physics</ion-option>
                  </ion-select>
                </span>
              </ion-col>
              <ion-col col-4>
                <span class="filter">
                  <ion-label>Location</ion-label>
                  <ion-select [(ngModel)]="location">
                    <ion-option value="daily">Lagos</ion-option>
                    <ion-option value="n64">Ogun</ion-option>
                    <ion-option value="ps">Osun</ion-option>
                    <ion-option value="ps">Ondo</ion-option>
                  </ion-select>
                </span>
              </ion-col>
            </ion-row>
          </ion-grid>

        </div>

      </div>
      -->
      <div class="leaders">
        <ion-card *ngFor="let user of leaderBoard">
          <ion-card-content>
            <h4>{{user.user.name | titlecase}} <p float-right> {{user.score_sum}} Points </p>
            </h4>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div>
</ion-content>
