page-leaderboard {

    .content-ios, .content-md {
        background-color: #F5F6FA ;
    }
    ion-card {
        border-left: 3px solid #01C22E;
        p {
            color : grey !important;
        }
        h4{
            font-size: 1.8rem !important;
        }
    }

    .content-ios, .content-md {
        background-color: #F5F6FA ;
    }
}
