page-calculator {
  div {
    padding: 0;
    margin: 0;
  }
  #main {
    width: 100%;
  }
  #keypad {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  #keypad > div {
    height: 75px;
    font-size: 28px;
    width: 100%;
    overflow: hidden;
  }
  #keypad > form.display > ion-input > input {
    font-size: 40pt;
    height: 75px;
    width: 98%;
    text-align: right;
    background-color: #fff;
    color: #000;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
  }
  button {
    border: none !important;
    border-radius: 10px !important ;
  }
  #keypad > div > button {
    padding-top: 5px;
    border-right: 1px solid black;
    width: 23%;
    text-align: center;
    background-color: #01c22e;
    color: #fff;
    height: 100%;
    float: left;
  }
  #keypad > div.horizontal.display {
    border: none;
    margin-bottom: 20px;
  }
  .horizontal{
      padding: 10px;
  }
  #keypad > div > button.full-wide {
    width: 100%;
  }
  #keypad > div > button.control-key {
    background-color: #b61d1d;
    color: #fff;
  }
  #keypad > div > button.operation-key {
    background-color: #beca1a;
    color: #fff;
    width: 21%;
  }
}
