<!--
  Generated template for the PrepExamCategoriesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{pageName}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div *ngIf="loaded | async">
    <ion-grid class="parallax">
      <ion-row *ngIf="exams?.length > 0" class="animated fadeInUp">
        <ion-col *ngFor="let exam of exams" col-6>
          <div>
            <ion-card (click)="gotoExamSelectionPage(exam)">
              <ion-card-content>
                <p>{{exam.name | uppercase}}</p>
                <p class="center line"></p>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div padding *ngIf="exams?.length == 0">
      <img src="assets/imgs/error.png" class="img" alt="">
      <h3>Opps no Exams at this moment!</h3>
    </div>
  </div>

</ion-content>