page-quiz4cash {
    .swipearea{
        width: 100%;
        height: 100%;
    }
    ion-card {
        border-left: 3px solid #01C22E;
        p {
            color : grey !important;
        }
        h4{
            font-size: 1.8rem !important;
        }
    }
    
    .content-ios, .content-md {
        background-color: #F5F6FA ;
    }
    .item-md{
        background:none;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

