<!--
  Generated template for the Quiz4cashPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title>Quiz 4 Cash</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="!loggedIn"><user-login></user-login></div>
  <ion-segment *ngIf="loggedIn" [(ngModel)]="current">
    <ion-segment-button value="quizs"> Exams </ion-segment-button>
    <ion-segment-button value="leaderboard"> Leaderboard </ion-segment-button>
    <ion-segment-button value="pastwinner"> Past Winners </ion-segment-button>
  </ion-segment>
  <div
    [ngSwitch]="current"
    swipeSegment
    class="swipearea"
    [tabsList]="tabs"
    [(currentTab)]="current"
    (tabChanged)="onTabChanged($event)"
  >
    <div *ngSwitchCase="'quizs'">
      <ion-card *ngFor="let quiz of subjects" (click)="openExam(quiz)">
        <ion-card-content>
          <h6>
            {{ quiz.name | titlecase }}
            <p float-right>{{ quiz.duration }}&nbsp;mins</p>
          </h6>
          <p>Prize : N{{ quiz.settings.entry_fee | number }}</p>
        </ion-card-content>
      </ion-card>
    </div>
    <div *ngSwitchCase="'leaderboard'">
      <ion-item>
        <ion-label>Select Quiz</ion-label>
        <ion-select #C (ionChange)="getQcLeaderboard(C.value)">
          <ion-option *ngFor="let quiz of subjects" [value]="quiz.id">{{
            quiz.name | titlecase
          }}</ion-option>
        </ion-select>
      </ion-item>

      <ion-segment [(ngModel)]="selected">
        <ion-segment-button value="daily"> Daily </ion-segment-button>
        <ion-segment-button value="monthly"> Monthly </ion-segment-button>
        <ion-segment-button value="overall"> Overall </ion-segment-button>
      </ion-segment>
      <div [ngSwitch]="selected" *ngIf="searched" padding>
        <div *ngSwitchCase="'daily'">
          <ion-card *ngFor="let leader of daily">
              <ion-card-content>
              <h6>
                {{ leader.user.name | titlecase }}
              </h6>
              <p>Score: {{ leader.score_sum }}</p>
            </ion-card-content>
          </ion-card>
        </div>
        <div *ngSwitchCase="'monthly'">
          <ion-card *ngFor="let leader of monthly">
            <ion-card-content>
              <h6>
                {{ leader.user.name | titlecase }}
              </h6>
              <p>Score: {{ leader.score_sum }}</p>
            </ion-card-content>
          </ion-card>
        </div>
        <div *ngSwitchCase="'overall'">
          <ion-card *ngFor="let leader of overall">
            <ion-card-content>
              <h6>
                {{ leader.user.name | titlecase }}
              </h6>
              <p>Score: {{ leader.score_sum }}</p>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </div>

    <div *ngSwitchCase="'pastwinner'">
      <ion-card *ngFor="let winner of winners">
        <ion-card-content>
          <h6>
            {{ winner.user.name | titlecase }}
            <p float-right>{{ winner.quiz.name }}</p>
          </h6>
          <p>Score: {{ winner.score }}</p>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
