<!--
  Generated template for the ScholarshipexamtakingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding>
  <div>
    <h6><strong>{{examContent.name | titlecase}}</strong></h6>
    <strong>
        <p><span>Duration : {{examContent.duration}}&nbsp;mins </span> <span float-right>{{examContent.questionsPerSession}}
            Questions</span></p>
      </strong>
    <p>{{examContent.description}}</p>
    
    <ion-footer padding>
        <button ion-button full block (click)="takeExam()">Take Exam</button>
    </ion-footer>
    
  </div>

</ion-content>