page-schooldirectory {
  .chips-box {
    height: 80px;
    padding: 10px;
  }
  .searchbar-md .searchbar-input{
    padding: 9px 55px;
  }
  .list-md .item-block .item-inner{
    margin-right: 10px; 
  }
  .item-md {
    background-color: transparent;
    font-size: 1.4rem;
  }
  .showFilter{
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
  }
  .chip {
    margin: 15px 10px;
    padding: 10px 15px;
    border-radius: 20px;
    color: #fff;
    background-color: #01c22e;
    width: auto;
  }
  .chips {
    display: flex;
  }
  .scroll-bar-indicator {
    display: none;
  }
  .content-ios,
  .content-md {
    background-color: #f5f6fa;
  }
  h6 {
    color: grey;
    margin-bottom: 0rem;
    margin-top: 0rem;
  }
  .card-box > img {
    border-radius: 5px;
    height: 80px;
    width: 100%;
    object-fit: cover;
  }
  .featured-center {
    overflow: scroll;
    white-space: nowrap;
    border: 0px !important;
  }
  .card-box {
    width: 150px !important;
    padding: 5px;
  }
  .card-boxes {
    height: 150px;
  }
  .el-search{
    height: 70px;
    margin-top: 15%;
  }
  .inner {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100%;
    height: 100%;
    .card-box {
      display: inline-block;
    }
  }
  .scroll {
    min-width: 100%;
  }
  .card-text {
    color: grey;
    ion-icon {
      color: #ffd700;
      padding-right: 5px;
    }
  }
  .searchbar-md .searchbar-input {
    border-radius: 12px;
  }
  .flex{
    display: flex;
  }
  .text{
    margin-left: 20px;
    margin-top: 10px;
  }
  .img{
    img{
      height: 90px;
      object-fit: cover;
      border-radius: 5px;
      width: 120px;
    }
  }

}
