<!--
  Generated template for the SchooldirectoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Find Schools and Centers</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-searchbar placeholder="Input search query" [(ngModel)]="query" class="el-search"></ion-searchbar>
  <div text-center class="center">
    <button [disabled]="query == undefined || null" (click)="search()" ion-button round>Search</button>
  </div>
  <br>
  <br>
  <div *ngIf="loaded | async">
    <div *ngIf="featuredCenters?.length > 0">
      <h6 padding>Featured Centers</h6>

      <!--
        <div class="flex-box">
          <ion-scroll class="featured-center" style="width:100%; height: 200px" scrollX=true>
            <div class="inner animated fadeInUp" padding>
              <div class="ace-of-cards">
      
                <div class="card-box" *ngFor="let school of featuredCenters" (click)="openInfoPage(school)">
                  <img *ngIf="school.image" [src]="school.image" />
                  <img *ngIf="!school.image" src="assets/imgs/placeholder-square.jpg" />
                  <div class="card-text">
                    <p>{{school.name}}</p>
                    <p>
                      <ion-icon *ngIf="school.has_verified_badge" name="star"></ion-icon> {{school.vendor_details.organization_city}}, {{school.vendor_details.organization_state}}
                    </p>
                  </div>
                </div>
      
                </div>
              </div>
          </ion-scroll>
        </div>
        -->
      <ion-list>
        <ion-item *ngFor="let school of featuredCenters" (click)="openInfoPage(school)">
          <div class="flex">
            <div class="img">
              <img *ngIf="school.featured_image" defaultImage="assets/imgs/placeholder-square.jpg" [lazyLoad]="school.featured_image" alt="">
              <img *ngIf="!school.featured_image" src="assets/imgs/placeholder-square.jpg" />
            </div>
            <div class="text">
              <p>{{school.organization_name | titlecase}}</p>
              <p>
                <ion-icon *ngIf="school.user.has_verified_badge" name="star"></ion-icon>
                {{school.organization_city | titlecase}}, {{school. organization_state | titlecase}}
              </p>
            </div>
          </div>
        </ion-item>
      </ion-list>
    </div>
    <div>
    </div>
  </div>


</ion-content>