<!--
  Generated template for the WithdrawalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Withdrawal</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <p>Input amount you want to withdraw</p>
  <br>
      
  <ion-input [(ngModel)]="price" type="number" ></ion-input>
  <h3 text-center><strong>{{price | currency:'NGN'}}</strong></h3>
</ion-content>

<ion-footer padding>
  <button ion-button round full (click)="withdraw()" [disabled]="price == undefined">Withdraw</button>
</ion-footer>