<!--
  Generated template for the ElearningDescriptionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{pageName}}</ion-title>
  </ion-navbar>

</ion-header>
<ion-content>
  <ion-list padding>
    <div *ngIf="loaded && documents?.length > 0">
      <ion-item *ngFor="let document of documents">
        <div *ngIf="document.file_type == 'video'">
          <ion-grid class="flex">
            <ion-row>
              <ion-col col-4>
                <div class="icon-card">
                  <h1 class="icon-text">
                    <ion-icon name="videocam"></ion-icon>
                    <br>
                    <p>{{document.file_type}}</p>
                  </h1>
                </div>
              </ion-col>
              <ion-col col-8>
                <h5>{{document.name}}</h5>
                <p [innerHTML]="document.description"></p>
                <button ion-button small (click)="openLink(document.document)">Watch</button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
        <div *ngIf="document.file_type != 'video'">
          <ion-grid class="flex">
            <ion-row>
              <ion-col col-4>
                <div class="icon-card">
                  <h1 class="icon-text">
                    <ion-icon name="document"></ion-icon>
                    <br>
                    <p>{{document.file_type}}</p>
                  </h1>
                </div>
              </ion-col>
              <ion-col col-8>
                <h5>{{document.name}}</h5>
                <p [innerHTML]="document.description"></p>
                <button ion-button small (click)="downloadFile(document.document, document.file_type, document.name)">Download</button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-item>
    </div>
    <div *ngIf="loaded && documents?.length == 0">
      <img src="assets/imgs/error.png" class="img" alt="">
      <h3>Opps no documents at this moment!</h3>
    </div>
  </ion-list>
</ion-content>
