page-elearning-description {
    .flex{
        display: flex;
    }
    .icon-card{
        padding: 10px;
        ion-icon{
            text-align: center;
            color: #01c22e;
            font-size: 4.4rem !important;
        }
    }
    p{
        white-space: normal;
    }
    h3 {
        text-align: center;
      }
      .img{
        display: block;
        margin: 0 auto;
        padding-top: 40px;
        height: 200px;
    }
}
