<!--
  Generated template for the WalletPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <ion-title>My Wallet</ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>


<ion-content>
  <div *ngIf="!loggedIn">
    <user-login></user-login>
  </div>
  <div *ngIf="loggedIn">
    <div class="bg">
      <h1>{{wallet | number}}
        <sup>
          <span class="currency">NGN</span>
        </sup>
      </h1>
      <p text-center>Balance</p>
      <button class="center" color="light" (click)="openWithdrawModal()" ion-button round >Withdraw</button>
    </div>
    <ion-segment padding [(ngModel)]="currentPage">
      <ion-segment-button value="transactions">
        Transactions
      </ion-segment-button>
      <ion-segment-button value="purchase">
        Top Up Wallet
      </ion-segment-button>
    </ion-segment>
    <div [ngSwitch]="currentPage" swipeSegment [tabsList]="tabs" [(currentTab)]="currentPage" (tabChanged)="onTabChanged($event)"
      class="swipe-area">
      <div *ngSwitchCase="'transactions'">
        <ion-list *ngIf="loaded | async">
            <ion-card *ngFor="let transaction of transactions">
                <ion-card-content>
                  <div class="date">
                    <h2>{{ formatDate(transaction.created_at) | date: 'd'}}</h2>
                    <p>{{ formatDate(transaction.created_at) | date: 'MMM'}}</p >
                  </div>
                  <div class="transaction-text">
                    <h2>Transaction Ref : {{transaction.transaction_ref}}</h2>
                    <br>
                    <p>{{transaction.amount  | currency:'NGN'}} <span float-right>{{transaction.channel}}</span></p>
                  </div>
                </ion-card-content>
              </ion-card>
        </ion-list>
        <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
            <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </div>
      <div *ngSwitchCase="'purchase'">
        <ion-list>
          <button (click)="debitCard()" ion-item>

            <h2>DebitCard</h2>
            <ion-icon item-end name="arrow-dropright"></ion-icon>

          </button>
          <button ion-item (click)="showBankDetails()">

            <h2>Bank Deposit</h2>
            <ion-icon item-end name="arrow-dropright"></ion-icon>

          </button>
          <!--
              <button ion-item>

                  <h2>BTC</h2>
                  <ion-icon item-end name="arrow-dropright"></ion-icon>

              </button>
              <button ion-item>

                  <h2>XPEP</h2>
                  <ion-icon item-end name="arrow-dropright"></ion-icon>

              </button>
              -->
        </ion-list>
      </div>
    </div>
  </div>
</ion-content>
