page-wallet {
  .bg {
    background-color: #01c22e;
    width: 100%;
    padding-bottom: 20px;
    h1 {
      color: #fff;
      font-size: 70px;
      padding-top: 6%;
      text-align: center;
      margin-top: 0px;
    }
    p {
      color: #fff;
    }
  }
  .button-md{
      background: #fff;
      color: color($colors, primary, base);
  }
  .currency {
    font-size: 18px;
  }
  .swipe-area {
    width: 100%;
    height: 100%;
  }
  .date{
      height: 70px;
      width: 70px;
      h2, p {
          text-align: center;
          color: #01c22e;
          font-weight: 600;
      }
      h2 {
          padding-top: 10px;
      }
  }
  .card-content-md, .card-content-ios {
      display: flex;
  }
  .transaction-text{
      h2 {color : grey;}
      padding-left: 10px;
  }
  .price{
      h2{
          font-size: 20px;
          padding-top: 20px;
      }
  }

  
}
