<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Create an Account</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list class="center-form">
    <form [formGroup]="register" (ngSubmit)="createAccount()">
        <ion-item>
            <ion-label stacked>Fullname</ion-label>
            <ion-input type="text" formControlName="name"></ion-input>
          </ion-item>
      
          <ion-item>
            <ion-label stacked>Email</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>PhoneNumber</ion-label>
            <ion-input type="text" formControlName="phone"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Password</ion-label>
            <ion-input [type]="passwordType" formControlName="password"></ion-input>
            <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()' required></ion-icon>
          </ion-item>
          <br>
          <button [disabled]="!register.valid" type="submit" full block ion-button>
            Sign Up
          </button>
    </form>
  </ion-list>

  <ion-footer *ngIf="showFooter">
    <p class="forgot">Already have an account?
      <strong (click)="openLoginPage()">Login</strong>
    </p>
  </ion-footer>
</ion-content>