page-signup {
    .forgot{
        color: grey;
        text-align: center;
    }
    .center-form {
        margin-top: 20%;
    }
    .button-md, .button-ios{
        height: 5.0rem;
    }
    .passwordIcon{
        font-size:2rem !important;
        position: relative !important;
        top: 22px !important;
        margin: 0 auto !important;
        padding: 10px;
     }
     ion-footer{
         position: fixed;
     }
}
