
<ion-header>

  <ion-navbar>
    <ion-title>{{pageName}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div *ngIf="loaded | async">
    <ion-grid class="parallax">
      <ion-row *ngIf="categories?.length > 0" class="animated fadeInUp">
        <ion-col *ngFor="let category of categories" col-6>
          <div>
            <ion-card (click)="gotoSubjects(category)">
              <ion-card-content>
                <p>{{category.name | uppercase}}</p>
                <p class="center line"></p>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div padding *ngIf="exams?.length == 0">
      <img src="assets/imgs/error.png" class="img" alt="">
      <h3>Opps no Categories!</h3>
    </div>
  </div>

</ion-content>