page-elearningcategories {
    .col,
  .grid {
    padding: 0 !important;
  }
  .img {
    height: 60px;
  }
  .line {
    border-bottom: 1px solid #fff;
    width: 30px;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    text-align: center;
  }
  ion-card-content > p {
    text-align: center;
    font-weight: 600;
    color: #fff !important;
    font-family: 'Poppins', sans-serif;
    font-size: 13px !important;
  }
  ion-card-content {
    margin : 30px 0px;
  }
  .card-ios,
  .card-md {
    box-shadow: 0 1px 0.5px 2px rgba(0, 0, 0, 0.1);
    background: #01c22e;
  }
  .content-ios,
  .content-md {
    background-color: #f1f3ff;
  }
}
